<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<div>
    <form method="post" th:action="@{'/hospitals/' + ${hospital.id} + '/update'}" th:object="${hospital}">
        <label for="name">Hospital Name</label>
        <input type="text" id="name" th:field="*{name}" th:value="*{name}">

        <label for="address">Hospital Address</label>
        <textarea id="address" th:field="*{address}" th:value="*{address}"></textarea>

        <button type="submit">Update Hospital</button>
    </form>
</div>
</body>
</html>