<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">

<th:block layout:fragment="content">
    <div>
        <form method="post" th:action="@{/patients/new}" th:object="${patient}">
            <div class="form-group">
                <label for="name">Patient Name</label>
                <input class="form-control" type="text" id="name" th:field="*{name}">
            </div>

            <div class="form-group">
                <label for="surname">Patient Surname</label>
                <input class="form-control" id="surname" th:field="*{surname}">
            </div>

            <div class="form-group">
                <label for="birthDate">Patient Birthdate</label>
                <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}">
            </div>

            <div class="form-group">
                <label for="gender">Patient Surname</label>
                <input class="form-control" id="gender" th:field="*{gender}">
            </div>

            <button class="btn btn-primary" type="submit">Create Patient</button>
        </form>
    </div>
</th:block>
</html>