<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
  <div>
    <div class="row">
      <div class="col-1">
        <a class="btn btn-primary" th:href="@{/departments/new}">New Department</a>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Hospital</th>
        <th>Doctors</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="department: ${departments}">
        <td th:text="${department.name}"></td>
        <td th:text="${department.hospital.name}"></td>
        <td>
          <th:block th:each="doctor : ${department.doctors}">
            <p th:text="${' ' + doctor.name + ' ' + doctor.surname + ' '}"></p>
          </th:block>
        </td>
        <td>
          <div>
            <div>
              <form method="post" th:action="@{'/departments/' + ${department.id} + '/delete'}">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
            <div>
              <a class="btn btn-success" th:href="@{'/departments/' + ${department.id} + '/update'}">Update</a>
            </div>
            <div>
              <a class="btn btn-primary" th:href="@{'/departments/' + ${department.id} + '/doctoradd'}">Add Doctor</a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</th:block>
</html>